@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Find Your Dream Job</h1>
    <p>Welcome to Job Seeker, the premier online platform for job seekers and employers. We connect talented professionals with top companies, helping you find the perfect fit for your career goals.</p>
</div>
